.nav-list {
  align-self: center;
  justify-self: center;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 65px;

  font-weight: 500;
  font-size: 18px;

  @include tablet() {
    display: none;
  }
}

.nav-list__item {
  position: relative;
  padding-bottom: 10px;
}

.nav-list__link {
  transition: all 0.1s ease-in;

  &:hover {
    color: var(--accent);
  }

  &--dropdown {
    display: flex;
    align-items: center;
    gap: 8px;

    &::after {
      content: url("./../img/icons/arrow-down.svg");
      height: 18px;
    }
  }
}

.nav-list__sub-nav {
  opacity: 0;
  pointer-events: none;

  position: absolute;
  left: 0;
  top: calc(100%);

  transform: translate(0%, 10%);
  transition: all 0.2s ease-in;
}

.nav-list__item:hover .nav-list__sub-nav {
  pointer-events: all;
  opacity: 1;
  transform: translate(0%, 0);
}

.nav-list__link--dropdown:hover:after {
  filter: invert(51%) sepia(100%) saturate(450%) hue-rotate(353deg)
    brightness(93%) contrast(92%);
}
