.search-form {
  display: flex;
  gap: 10px;
  max-width: 344px;
  height: 56px;
  padding: 8px 8px 8px 20px;
  justify-content: space-between;
  align-items: center;

  border-radius: 42px;
  border: 0.862px solid rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(4px);
}

.search-form__input {
  flex-grow: 1;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #fff;

  &::placeholder {
    color: #fff;
    font-weight: 400;
    opacity: 0.8;
  }
}

.search-form__btn {
  flex-shrink: 0;
  border-radius: 24px;
  padding: 11px;
  width: 40px;
  height: 40px;
  background: var(--accent);
}
