.slider {
  position: relative;
}

.slider__btn {
  border-radius: 50%;
  padding: 11px;
  width: 50px;
  height: 50px;
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.06);
  background: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__btn--prev {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

.slider__btn--next {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}
